/* styles.css */

body {
    font-family: Montserrat, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
}

header {
    background-color: #6579BE;
    color: #333;
    padding: 20px;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: #333;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1, h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}
/* styles.css */

body {
    font-family: Montserrat, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
}

header {
    background-color: #FDF5F1;
    color: #333;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#quiz {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#quiz-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #666;
}